######################
# Node
######################
/web/node/**
/web/node_modules/**

######################
# Bower
######################
/web/bower_components/**

######################
# IDER Inteleji Idea
######################
/classes/**
/target/**
/out/**
/.idea/**
PetshopInterview.iml